*{
    margin: 0;
    padding: 0;
}

.container{
    border: 2px solid black;
    width: 80%;
    margin: 50px auto;
    display: grid;
    /* grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: [baris-mulai] 50px 
    [baris1-akhir] 100px [baris2-awal];
    grid-template-areas: 
    "header header header"
    "footer footer footer"; */
    /* grid-template: [baris1-mulai]"header header header" 50px [baris1-akhir baris2-mulai]
    "footer footer footer" 100px [baris2-akhir]/ 1fr 2fr 3fr; */
    grid-template-columns: repeat(3, 1fr);
    /* column-gap: 10px;
    row-gap: 10px; */
    /* grid-gap:10px; */
    gap: 10px;
}

.item{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.item:nth-child(even){
    background-color: pink;
}