.container{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    margin: 10px auto;
    text-align: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.container img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.container span{
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: rgba(158, 148, 148, 0);
    border-radius: 50%;
    font: 20px/150px bold Arial ;
    position: absolute;
    top: 0;
    left: -150px;
    transition: 0.5s;
}

/* .container:hover div span{
    background-color: rgba(158, 148, 148, 0.6);
    left: 0;
    transform: rotate(360deg);
} */

.img1:target span{
    background-color: rgba(158, 148, 148, 0.8);
    left: 0px;
    transform: rotate(360deg);
}

.img1:target .container img{
    position: absolute;
}
.back a{
    text-decoration: none;
}
.back{
    height: 40px;
    width: 60px;
    background-color: rgba(58, 153, 243, 1);
    line-height: 40px;
    text-align: center;
    color: black;
    font-weight: bold;
    margin: auto;
    background: linear-gradient(blue, aqua);
    border-radius: 10px;
}

ol li:nth-child(2n-1) a:hover{
    text-decoration: none;
    color: red;
    font-size: 30px;
}