body{
    background-image: url(../../Media/moroccan-flower.png);
}
.satu{
    height: 300px;
    width: 300px;
    background-color: orange;
    opacity: 0.5;
    position: relative;
}

.dua{
    height:200px;
    width: 200px;
    background-color: aqua;
    position: absolute;
    bottom: -100px;
    right: -100px;
    /* opacity: 0.5; */
}