img{
    /* width: 100%; */
}

.pokemon{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 5px;
}

.pokeLabel {
    display: block;
    text-align: center;
    color: white;
}